<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="uses">

  <div class="header">
    <div class="container-fluid">
      <%= image_tag 'uses-header.jpg', class: "img-responsive" %>
    </div>
  </div>

  <div class="container">

    <h1>other uses</h1>

    <div class="row">
      <% @uses.each do |use| %>
        <div class="col-md-6">
          <%= link_to use, class: 'thumb-link' do %>
            <%= image_tag use.picture.url, class: 'img-responsive' %>

            <p>
              <span>More details</span>
            </p>

            <div class="caption">
              <%= use.name.capitalize %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>