<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="use">

  <div class="header">
    <div class="container-fluid">
      <%= image_tag 'uses-header.jpg', class: "img-responsive" %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <% @uses.in_groups_of(2, false).each do |uses| %>
          
          <div class="menu-group">
            <% uses.each do |use| %>
              <%= active_link_to use do %>
      
                <%= image_tag use.picture.url(:thumb), class: 'img-responsive' %>

                <div class="caption">
                  <%= use.name.capitalize %>
                </div>
      
              <% end %>
            <% end %>
          </div>

        <% end %>
      </div>
      
      <div class="col-sm-9 description">
        <h1><%= @use.name.capitalize %></h1>

        <%= raw(@use.description) %>

        <div class="controls">
          <button class="btn btn-default">Download pdf</button>
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target="_blank" class="btn btn-default">Share</a>
        </div>

      </div>
    </div>
  </div>
</div>
