<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="posts">
          <% @posts.each do |post| %>
            <div class="post-item">
              <h2>
                <small class="pull-right">
                  Published at <br>
                  <span class="date"><%= post.published_at.strftime("%d/%m/%Y") %></span>
                </small>
                <%= link_to post.name, blog_post_path(post) %>
              </h2>
              <div class="thumbnail">
                <%= image_tag post.picture.url(:large) %>
              </div>
              
              <%=h raw HTML_Truncator.truncate(post.body, 60) %>

              <%= link_to t('buttons.more'), blog_post_path(post), class: 'btn btn-default pull-right', style: 'margin-top: 20px;' %>
              <span class="clearfix"></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>