<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="posts">

          <div class="post-item">
            <h1><%= @post.name %></h1>
            <div class="thumbnail">
              <%= image_tag @post.picture.url(:large) %>
            </div>
            <p><%= raw @post.body %></p>
            
            <% if @post.source %>
              <p class="source"><i><b>Source:</b> <%= @post.source %></i></p>
            <% end %>

            <div class="sharer">
              <ul class="list-inline">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" class="btn btn-default" target="_blank"><i class="fa fa-facebook"></i> Share on Facebook</a></li>
                <li><a href="https://twitter.com/home?status=<%= request.original_url %>" class="btn btn-default" target="_blank"><i class="fa fa-twitter"></i> Share on Twitter</a></li>
                <li><a href="https://plus.google.com/share?url=<%= request.original_url %>" class="btn btn-default" target="_blank"><i class="fa fa-google-plus"></i> Share on Google Plus</a></li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
