<div class="login">
  <h1 class="text-center">Log In</h1>

  <div class="well">
    <%= form_tag sessions_path do %>
      <div class="form-group">
        <%= label_tag :email %><br />
        <%= text_field_tag :email, params[:email], class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= label_tag :password %><br />
        <%= password_field_tag :password, nil, class: 'form-control' %>
      </div>
      
      <div class="actions">
        <%= submit_tag "Log In", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>