<%= bootstrap_form_for([:dashboard, @album], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", :html => { :multipart => true }) do |f| %>

  <% if @album.errors.any? %>
    <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.text_field :title %>

  <%= f.fields_for :photos do |builder| %>
    <%= render 'photo_fields', f: builder %>
  <% end %>

  <%= link_to_add_fields "Add Photo", f, :photos %> <br> <br>

  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>

<% end %>
