<fieldset>
  <hr>
  
  <% unless f.object.new_record? %>
    <%= f.form_group do %>
      <%= image_tag f.object.asset.url(:thumb) %>
    <% end %>
  <% else %>
    <%= f.file_field :asset %>
  <% end %>

  <%= f.form_group do %>
    <%= f.check_box :featured, label: 'featured' %>
  <% end %>
  
  <%= f.text_area :description %>

  <%= f.form_group do %>
    <%= f.check_box :_destroy, label: "Remove Photo" %>
  <% end %>

</fieldset>
