<div class="page-header">
  <h1>Listing albums</h1>
</div>

<%= link_to 'New Album', new_dashboard_album_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= link_to 'Show', dashboard_album_path(album), class: 'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Edit', edit_dashboard_album_path(album), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to 'Destroy', dashboard_album_path(album), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

