<div class="page-header">
  <h1><%= @album.title.titleize %></h1>
  <%= link_to 'Edit', edit_dashboard_album_path(@album), class: 'btn btn-xs btn-success' %>
  <%= link_to 'Back', dashboard_albums_path, class: 'btn btn-xs btn-default' %>
</div>

<div class="row">
  <% @album.photos.each do |photo| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag photo.asset.url(:medium) %>
        <div class="caption">
          <p><%= photo.description.capitalize %></p>
          <% if photo.featured %>
            <span class="label label-primary">Featured</span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
