<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>
<%= render partial: "shared/media_navbar" %>

<div id="videos">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8 col-lg-offset-2">
        <% @videos.each do |video| %>
          <h2><%= video.title.titleize %></h2>
          <p><%= video.description.titleize %></p>
          <div class="embed-responsive embed-responsive-16by9">
            <%= raw YouTubeAddy.youtube_embed_url(video.embed_url) %>
          </div>
          <div class="sharer">
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/watch?v=<%= YouTubeAddy.extract_video_id(video.embed_url) %>" class="btn btn-default" target="_blank"><i class="fa fa-facebook"></i> Share on Facebook</a></li>
              <li><a href="https://twitter.com/home?status=https://www.youtube.com/watch?v=<%= YouTubeAddy.extract_video_id(video.embed_url) %>" class="btn btn-default" target="_blank"><i class="fa fa-twitter"></i> Share on Twitter</a></li>
              <li><a href="https://plus.google.com/share?url=https://www.youtube.com/watch?v=<%= YouTubeAddy.extract_video_id(video.embed_url) %>" class="btn btn-default" target="_blank"><i class="fa fa-google-plus"></i> Share on Googoel Plus</a></li>
            </ul>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
