@import "//fonts.googleapis.com/css?family=PT+Sans:400,700";

/* Typography
-------------------------------------------------- */
$font-family-sans-serif: 'PT Sans', sans-serif;

/* Navbar
-------------------------------------------------- */
$navbar-height: 60px;
$navbar-default-bg: #161618;
$navbar-default-link-color: #8c8b8a;
$navbar-default-link-hover-color: #fefefe;
$navbar-default-link-active-color: #fff;
$navbar-default-border: #161618;


/* Components
-------------------------------------------------- */
$border-radius-base: 2px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body { padding-top: 90px; }

/* Navbar
-------------------------------------------------- */
.navbar-brand {
  padding: 5px 15px;
}

/* Page header
-------------------------------------------------- */
.page-header {
  margin-top: 0px;
}