<%= bootstrap_form_for([:dashboard, @asset], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", :html => { :multipart => true }) do |f| %>

  <%= f.alert_message "Please fix the errors below." %>
  
  <%= f.text_field :name %>
  <%= f.file_field :download %>

  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>

<% end %>
