<div class="page-header">
  <h1>Listing assets</h1>
</div>

<%= link_to 'New Asset', new_dashboard_asset_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.name %></td>
        <td><%= link_to 'Show', dashboard_asset_path(asset), class: 'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Edit', edit_dashboard_asset_path(asset), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to 'Destroy', dashboard_asset_path(asset), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

