<div class="page-header">
  <h1><%= @asset.name.titleize %></h1>
  <%= link_to 'Edit', edit_dashboard_asset_path(@asset), class: 'btn btn-xs btn-success' %>
  <%= link_to 'Back', dashboard_assets_path, class: 'btn btn-xs btn-default' %>
</div>

<p>
  <strong>Format:</strong>
  <%= @asset.download.content_type.split(/\//).last  %> format.
</p>

<hr>

<%= image_tag @asset.download.url(:pdf_thumbnail), class: 'thumbnail img-responsive' %>