<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="recipes">

  <div class="header">
    <div class="container-fluid">
      <%= image_tag 'recipes-header.jpg', class: "img-responsive" %>
    </div>
  </div>

  <div class="container">

    <h1>mediterranean recipes</h1>

    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-md-6">
          <%= link_to recipe, class: 'thumb-link' do %>
            <%= image_tag recipe.picture.url, class: 'img-responsive' %>

            <p>
              <span>More details</span>
            </p>

            <div class="caption">
              <%= recipe.name.capitalize %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>