<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="recipe">

  <div class="header">
    <div class="container-fluid">
      <%= image_tag @recipe.banner_picture.url, class: 'img-responsive' %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <% @recipes.in_groups_of(2, false).each do |recipes| %>
          
          <div class="menu-group">
            <% recipes.each do |recipe| %>
              <%= active_link_to recipe do %>
      
                <%= image_tag recipe.picture.url(:thumb), class: 'img-responsive' %>

                <div class="caption">
                  <%= recipe.name.capitalize %>
                </div>
      
              <% end %>
            <% end %>
          </div>

        <% end %>
      </div>
      
      <div class="col-sm-6 description">
        <h1><%= @recipe.name.capitalize %></h1>

        <%= raw(@recipe.description) %>

        <div class="controls">
          <button class="btn btn-default">Download pdf</button>
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target="_blank" class="btn btn-default">Share</a>
        </div>

      </div>
      
      <div class="col-sm-3">
        
        <div class="timing">
          <div class="preparation">
            <span>prep.</span>
            <i class="fa fa-clock-o fa-2x"></i>
            <span><%= @recipe.preparation_time %> mins</span>
          </div>

          <div class="cooking">
            <span>cook</span>
            <i class="fa fa-clock-o fa-2x"></i>
            <span><%= @recipe.cooking_time %> mins</span>
          </div>
        </div>
        
        <%= image_tag 'kitchen.png', class: 'kitchen img-responsive' %>

      </div>
    </div>
  </div>
</div>
