<%= bootstrap_form_for(
  [:dashboard, @category],
  layout: :horizontal,
  label_col: "col-sm-2",
  control_col: "col-sm-10",
  :html => { :multipart => true }
  ) do |f| %>

  <%= f.alert_message "Please fix the errors below." %>

  <%= f.text_field :name %>
  <%= f.text_area :short_description %>
  <%= f.text_area :long_description, :class => "tinymce", :rows => 10, :cols => 20 %>
  <%= f.file_field :logo %>
  <%= f.file_field :portfolio_picture %>
  <%= f.file_field :banner_picture %>
  <%= f.file_field :products_picture %>
  <%= f.select :parent_id, nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" }, label: "Parent Category", :prompt => "Select a parent category" %>
  
  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>

<% end %>

<%= tinymce %>