<div class="page-header">
  <h1>Listing categories</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name.capitalize %></td>
        <td><%= link_to 'Show', dashboard_category_path(category), class: 'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Edit', edit_dashboard_category_path(category), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to 'Destroy', dashboard_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_dashboard_category_path, class: 'btn btn-primary' %>
