<div class="page-header">
  <h1><%= @category.name %></h1>
  <%= link_to 'Edit', edit_dashboard_category_path(@category), class: 'btn btn-xs btn-success' %>
  <%= link_to 'Back', dashboard_categories_path, class: 'btn btn-xs btn-default' %>
</div>

<p><strong>Short Description:</strong></p>
<p><%= @category.short_description %></p>

<hr>

<p>
  <strong>Long Description:</strong>
  <%= raw @category.long_description %>
</p>

<hr>

<div class="row">
  <div class="col-sm-3">
    <strong>Logo:</strong><br>
    <%= image_tag @category.logo.url(:medium), class: 'img-thumbnail img-responsive' %>  
  </div>

  <div class="col-sm-3">
    <strong>Portfolio Picture:</strong><br>
    <%= image_tag @category.portfolio_picture.url(:medium), class: 'img-thumbnail img-responsive' %>
  </div>
  
  <div class="col-sm-3">
    <strong>Banner Picture:</strong><br>
    <%= image_tag @category.banner_picture.url(:medium), class: 'img-thumbnail img-responsive' %>
  </div>
  
  <div class="col-sm-3">
    <strong>Products Picture:</strong><br>
    <%= image_tag @category.products_picture.url(:medium), class: 'img-thumbnail img-responsive' %>
  </div>
</div>
