  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to image_tag("logo.png"), root_path, class: 'navbar-brand' %>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <div class="navbar-right">
          <p class="navbar-text">Logged in as <%= current_user.email %>.</p>
          <% if current_user %>
            <%= link_to "Log Out", logout_path, class: 'btn btn-default navbar-btn' %>
          <% end %>

          <ul class="nav navbar-nav">
            <li class="<%= active_lang('fr') %>"><%= link_to 'FR', change_locale_path(:fr) %></li>
            <li class="<%= active_lang('en') %>"><%= link_to 'EN', change_locale_path(:en) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>