<footer>
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-xs-12">
        <p>© Copyright MEDFLAVOUR 2015 | Powered by <a href="http://appid.tn/fr/">APPID</a></p>
      </div>

      <div class="col-sm-6 col-xs-12">
        <ul class="list-inline social pull-right">
          <li><a href="https://www.facebook.com/pages/Oleiva/141869862652385" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>