<nav class="navbar navbar-default navbar-lower" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#media-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse collapse-buttons"  id="media-navbar">
      <ul class="nav navbar-nav">
        <%= active_link_to 'Albums', media_albums_path, :wrap_tag => :li %>
        <%= active_link_to 'Videos', media_videos_path, :wrap_tag => :li %>
        <%= active_link_to t('menu.media.download'), media_assets_path, :wrap_tag => :li %>
      </ul>
    </div>
  </div>
</nav>