
    <%= link_to image_tag("logo.png"), root_path, class: 'navbar-brand pull-left' %>
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">

        <ul class="nav navbar-nav">
          <%= active_link_to t('menu.main.about'), pages_about_path, :wrap_tag => :li %>
          <%= active_link_to 'Portfolio', categories_path, id: 'portfolio-menu', :wrap_tag => :li %>
          <%= active_link_to 'Media', media_root_path, :wrap_tag => :li %>
          <%= active_link_to 'Blog', blog_root_path, :wrap_tag => :li %>
          <%= active_link_to 'Contact', pages_contact_path, :wrap_tag => :li %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if false %>
            <li class="hidden-xs hidden-sm"><%= link_to 'Dashboard', dashboard_root_path %></li>
          <% end %>
          <li class="<%= active_lang('fr') %>"><%= link_to 'FR', change_locale_path(:fr) %></li>
          <li class="<%= active_lang('en') %>"><%= link_to 'EN', change_locale_path(:en) %></li>
        </ul>

      </div>
    </div>
