<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="about-section">

  <nav class="second-nav">
    <div class="container">
      <ul class="list-inline" role="tablist">
        <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab"><%= t('menu.about.about') %></a></li>
        <li role="presentation"><a href="#group" aria-controls="group" role="tab" data-toggle="tab"><%= t('menu.about.group') %></a></li>
        <li role="presentation"><a href="#team" aria-controls="team" role="tab" data-toggle="tab"><%= t('menu.about.team') %></a></li>
      </ul>
    </div>
  </nav>


  <div class="tab-content">

    <!-- About -->
    <div role="tabpanel" class="tab-pane active" id="about">

      <div class="header">
        <div class="container-fluid">
          <%= image_tag 'about/about-header.jpg', class: "img-responsive" %>
        </div>
      </div>

      <div class="container">
        <div class="items">
      
          <!-- Inc -->
          <div class="item row no-gutters">
            <div class="col-md-5">
              <%= image_tag 'about/med-flavour.jpg', class: 'img-responsive block' %>
            </div>
            <div class="col-md-7 col-sm-12 description">
              <div class="inner">
                <h2>Med Flavour inc.</h2>
                <p><%= t('about.inc') %></p>
              </div>
            </div>
          </div>

          <!-- Vision -->
          <div class="item row no-gutters">
            <div class="col-md-7 col-sm-12 description">
              <div class="inner">
                <h2><%= t('about.vision.title') %></h2>

                <p><%= t('about.vision.text') %></p>
              </div>
            </div>
            <div class="col-md-5">
              <%= image_tag 'about/vision.jpg', class: 'img-responsive block' %>
            </div>
          </div>

          <!-- Brand -->
          <div class="item row no-gutters">
            <div class="col-md-5">
              <%= image_tag 'about/oleiva.jpg', class: 'img-responsive block' %>
            </div>
            <div class="col-md-7 col-sm-12 description">
              <div class="inner">
                <h2><%= t('about.oleiva.title') %></h2>

                <p><%= t('about.oleiva.text') %></p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
      
    <!-- Group -->
    <div role="tabpanel" class="tab-pane" id="group">

      <div class="header">
        <div class="container-fluid">
          <%= image_tag 'group/group-header.jpg', class: "img-responsive" %>
        </div>
      </div>

      <div class="container">
        <div class="items">
      
          <!-- slema group -->
          <div class="item row no-gutters">
            <div class="col-md-5">
              <%= image_tag 'group/slema-group.jpg', class: 'img-responsive block' %>
            </div>
            <div class="col-md-7 col-sm-12 description">
              <div class="inner">
                <h2>The SLAMA Group</h2>
                <p><%= t('about.group.text') %></p>
              </div>
            </div>
          </div>
          
          <!-- Partners -->
          <div class="item row no-gutters">
            <div class="col-md-7 col-sm-12 description">
              <div class="inner">
                <h2><%= t('about.group.partner.title') %></h2>
                <p><%= t('about.group.partner.text') %></p>
              </div>
            </div>
            <div class="col-md-5">
              <%= image_tag "group/partners-#{I18n.locale}.jpg", class: 'img-responsive block' %>
            </div>
          </div>
          
          <!-- strategie -->
          <div class="item row no-gutters">
            <div class="col-md-5">
              <%= image_tag 'group/strategie.jpg', class: 'img-responsive block' %>
            </div>
            <div class="col-md-7 col-sm-12 description">
              <div class="inner">
                <h2><%= t('about.group.strategy.title') %></h2>

                <div class="row">
                  <div class="col-sm-4">
                    <h3><%= t('about.group.strategy.one.title') %></h3>
                    <p><%= t('about.group.strategy.one.text') %></p>
                  </div>
                  <div class="col-sm-4">
                    <h3><%= t('about.group.strategy.two.title') %></h3>
                    <p><%= t('about.group.strategy.two.text') %></p>
                  </div>
                  <div class="col-sm-4">
                    <h3><%= t('about.group.strategy.three.title') %></h3>
                    <p><%= t('about.group.strategy.three.text') %></p>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
      
    <!-- Team -->
    <div role="tabpanel" class="tab-pane" id="team">
      
      <div class="header">
        <div class="container-fluid">
          <%= image_tag 'team/team-header.jpg', class: "img-responsive" %>
        </div>
      </div>

      <div class="container">
        <div class="items">
      
          <!-- shiheb slema -->
          <div class="item row no-gutters">
            <div class="col-sm-5 col-xs-12">
              <%= image_tag 'team/chiheb-slema.jpg', class: 'img-responsive block' %>
            </div>
            <div class="col-sm-7 description col-xs-12">
              <div class="inner">
                <h2>Chiheb Slama</h2>
                <h3>President</h3>
                <ul class="list-inline social">
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-envelope-square"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- brahim slema -->
          <div class="item row no-gutters">
            <div class="col-sm-5 col-sm-push-7 col-xs-12">
              <%= image_tag 'team/brahim-slema.jpg', class: 'img-responsive block' %>
            </div>
            <div class="col-sm-7 col-sm-pull-5 description col-xs-12">
              <div class="inner">
                <h2>Brahim Slama</h2>
                <h3>General Manager</h3>
                <ul class="list-inline social">
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-envelope-square"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Cass Sloane -->
          <div class="item row no-gutters">
            <div class="col-sm-5 col-xs-12">
              <%= image_tag 'http://placehold.it/474x390', class: 'img-responsive block' %>
            </div>
            <div class="col-sm-7 description col-xs-12">
              <div class="inner">
                <h2>Cass Sloane</h2>
                <h3>Business development</h3>
                <ul class="list-inline social">
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-envelope-square"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Kamel ben yahya -->
          <div class="item row no-gutters">
            <div class="col-sm-5 col-sm-push-7 col-xs-12">
              <%= image_tag 'http://placehold.it/474x390', class: 'img-responsive block' %>
            </div>
            <div class="col-sm-7 col-sm-pull-5 description col-xs-12">
              <div class="inner">
                <h2>Mansour Belkhir</h2>
                <h3>VP Finance</h3>
                <ul class="list-inline social">
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-envelope-square"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Akrem Tray -->
          <div class="item row no-gutters">
            <div class="col-sm-5 col-xs-12">
              <%= image_tag 'http://placehold.it/474x390', class: 'img-responsive block' %>
            </div>
            <div class="col-sm-7 description col-xs-12">
              <div class="inner">
                <h2>Dhouha Chtourou</h2>
                <h3>VP Sales</h3>
                <ul class="list-inline social">
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-envelope-square"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Skander Slema -->
          <div class="item row no-gutters">
            <div class="col-sm-5 col-sm-push-7 col-xs-12">
              <%= image_tag 'http://placehold.it/474x390', class: 'img-responsive block' %>
            </div>
            <div class="col-sm-7 col-sm-pull-5 description col-xs-12">
              <div class="inner">
                <h2>Skander Slama</h2>
                <h3>Quality & Control Manager</h3>
                <ul class="list-inline social">
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-envelope-square"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    </div>
  </div>
</div>