<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="botteling">
  <div class="header">
    <div class="container-fluid">
      <%= image_tag 'botteling-header.jpg', class: "img-responsive" %>
    </div>
  </div>

  <div class="container">
    <div class="items">
      
      <div class="item row no-gutters how">
        <div class="col-sm-7">
          <%= image_tag 'traditional-bottles.png', class: 'img-responsive block' %>
        </div>
        <div class="col-sm-5 description">
          <div class="inner">
            <h2>Marasca</h2>
            <ul class="list-inline">
              <li>1L</li>
              <li>500ml</li>
              <li>250ml</li>
            </ul>
            <%= image_tag 'traditional-silouette.png', class: 'img-responsive' %>
          </div>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-5 description">
          <div class="inner">
            <h2>Willy Dop</h2>
            <ul class="list-inline">
              <li>750ml</li>
              <li>500ml</li>
              <li>250ml</li>
            </ul>
            <%= image_tag 'premium-silouette.png', class: 'img-responsive' %>
          </div>
        </div>
        <div class="col-sm-7">
          <%= image_tag 'premium-bottles.png', class: 'img-responsive block' %>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-7">
          <%= image_tag 'bottling-process.jpg', class: 'img-responsive block' %>
        </div>
        <div class="col-sm-5 description">
          <div class="inner">
            <h2><%= t('bottling.process.title') %></h2>
            <p><%= t('bottling.process.text') %></p>
          </div>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-5 description">
          <div class="inner">
            <h2><%= t('bottling.capacity.title') %></h2>
            <h3>- <%= t('bottling.capacity.glass.title') %></h3>
            <p><%= t('bottling.capacity.glass.text') %></p>
            <h3>- <%= t('bottling.capacity.pet.title') %></h3>
            <p><%= t('bottling.capacity.pet.text') %></p>
            <h3>- <%= t('bottling.capacity.metallic.title') %></h3>
            <p><%= t('bottling.capacity.metallic.text') %></p>
          </div>
        </div>
        <div class="col-sm-7">
          <%= image_tag 'bottling-capacity.jpg', class: 'img-responsive block' %>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-7">
          <%= image_tag 'bottling-packaging.jpg', class: 'img-responsive block' %>
        </div>
        <div class="col-sm-5 description">
          <div class="inner">
            <h2><%= t('bottling.packaging.title') %></h2>
            <p><%= t('bottling.packaging.text') %></p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>