<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="contact">
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2887.0385589526036!2d-79.56162479999999!3d43.647366099999985!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b37878b98c70d%3A0x102dd03eb6e5a663!2s10+Four+Seasons+Pl%2C+Etobicoke%2C+ON+M9B+6H7%2C+Canada!5e0!3m2!1sen!2stn!4v1426082186249" width="100%" height="400" frameborder="0" style="border:0"></iframe>
  </div>

  <div class="container">
    <h2>Contact Details</h2>

    <p>Med Flavour Inc.<br>
    10 Four Season Place • 10th Floor • Suite 1021<br>  
    Etobicoke • Ontario • M9B 6H7 • Canada<p>

    <p>info@medflavour.com</p>

    <p>+1 (416) 649-5808</p>
  </div>
</div>