<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="groves">
  <div class="header">
    <div class="container-fluid">
      <%= image_tag 'groves-header.jpg', class: "img-responsive" %>
    </div>
  </div>

  <div class="container">
    <div class="items">
      
      <div class="item row no-gutters how">
        <div class="col-sm-7">
          <%= image_tag 'olive-groves.jpg', class: 'img-responsive block' %>
        </div>
        <div class="col-sm-5 description">
          <div class="inner">
            <h2><%= t('portfolio.groves.title') %></h2>
            <p><%= t('groves.text') %></p>
          </div>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-5 description">
          <div class="inner">
            <h2>Bir Lahfay</h2>
            <h3>18 871 <%= t('portfolio.groves.trees') %></h3>
            <h3>85 Hectare</h3>
          </div>
        </div>
        <div class="col-sm-7">
          <%= image_tag 'groves-1.png', class: 'img-responsive block' %>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-7">
          <%= image_tag 'groves-2.png', class: 'img-responsive block' %>
        </div>
        <div class="col-sm-5 description">
          <div class="inner">
            <h2>Slama AGricole Haffouz</h2>
            <h3>14 666 <%= t('portfolio.groves.trees') %></h3>
            <h3>27 Hectare</h3>
          </div>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-5 description">
          <div class="inner">
            <h2>Domaine Le Baron</h2>
            <h3>148 271 <%= t('portfolio.groves.trees') %></h3>
            <h3>1 164 Hectare</h3>
          </div>
        </div>
        <div class="col-sm-7">
          <%= image_tag 'groves-3.png', class: 'img-responsive block' %>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-7">
          <%= image_tag 'groves-4.png', class: 'img-responsive block' %>
        </div>
        <div class="col-sm-5 description">
          <div class="inner">
            <h2>El Karma</h2>
            <h3>10 000 <%= t('portfolio.groves.trees') %></h3>
            <h3>20 Hectare</h3>
          </div>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-5 description">
          <div class="inner">
            <h2>Jughurta Thela</h2>
            <h3>110 855 <%= t('portfolio.groves.trees') %></h3>
            <h3>100 Hectare</h3>
          </div>
        </div>
        <div class="col-sm-7">
          <%= image_tag 'groves-5.png', class: 'img-responsive block' %>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-7">
          <%= image_tag 'groves-6.png', class: 'img-responsive block' %>
        </div>
        <div class="col-sm-5 description">
          <div class="inner">
            <h2>Olivetto</h2>
            <h3>136 500 <%= t('portfolio.groves.trees') %></h3>
            <h3>175 Hectare</h3>
          </div>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-5 description">
          <div class="inner">
            <h2>El Rahma Bouficha</h2>
            <h3>18 500 <%= t('portfolio.groves.trees') %></h3>
            <h3>33 Hectare</h3>
          </div>
        </div>
        <div class="col-sm-7">
          <%= image_tag 'groves-7.png', class: 'img-responsive block' %>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-7">
          <%= image_tag 'groves-8.png', class: 'img-responsive block' %>
        </div>
        <div class="col-sm-5 description">
          <div class="inner">
            <h2>El Rahma Sidi Thabet</h2>
            <h3>300 <%= t('portfolio.groves.trees') %></h3>
            <h3>1,5 Hectare</h3>
          </div>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-5 description">
          <div class="inner">
            <h2>Tosalco</h2>
            <h3>15 000 <%= t('portfolio.groves.trees') %></h3>
            <h3>2 392 Hectare</h3>
          </div>
        </div>
        <div class="col-sm-7">
          <%= image_tag 'groves-9.png', class: 'img-responsive block' %>
        </div>
      </div>

    </div>
  </div>
</div>