<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="harvesting">
  <div class="header">
    <div class="container-fluid">
      <%= image_tag 'harvesting-header.jpg', class: "img-responsive" %>
    </div>
  </div>

  <div class="container">
    <div class="items">

      <div class="item row no-gutters how">
        <div class="col-sm-5 title">
          <div class="inner">
            <h2><%= t('portfolio.harvesting.title') %></h2>
          </div>
        </div>
        <div class="col-sm-7 description">
          <div class="inner">
            <p><%= t('portfolio.harvesting.par1') %></p>
            <p><%= t('portfolio.harvesting.par2') %></p>
          </div>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-7 description">
          <div class="inner">
            <p><%= t('harvesting.text2') %></p>
          </div>
        </div>
        <div class="col-sm-5 title">
          <%= image_tag 'harvesting/ceuillete.jpg', class: 'img-responsive block' %>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-5 title">
          <%= image_tag 'harvesting/transport.jpg', class: 'img-responsive block' %>
        </div>
        <div class="col-sm-7 description">
          <div class="inner">
            <p><%= t('harvesting.text3') %></p>
          </div>
        </div>
      </div>

      <div class="item row no-gutters how">
        <div class="col-sm-7 description">
          <div class="inner">
            <p><%= t('harvesting.text4') %></p>
          </div>
        </div>
        <div class="col-sm-5 title">
          <%= image_tag 'harvesting/stockage.jpg', class: 'img-responsive block' %>
        </div>
      </div>

    </div>
  </div>
</div>