<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="display: none;">  
  <%= render partial: "shared/navbar" %>
</div>

<div class="main">
  <section id="masthead">
    <div class="top">
      <%= image_tag 'header-logo.png', class: 'logo img-responsive' %>
      <p class="slogan">"Premium Mediterranean Products"</p>
      <%= link_to t('menu.languages.fr'), change_locale_path(:fr), class: 'btn btn-default' %>
      <%= link_to t('menu.languages.en'), change_locale_path(:en), class: 'btn btn-default' %>
    </div>

    <div class="bottom">
      <video autoplay loop id="v-intro">
        <source src="/videos/intro.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div class="content">
        <div class="container">
          <%= image_tag 'white-logo.png', class: 'logo img-responsive' %>
        </div>
      </div>
      <div class="mouse-wrap">
        <div class="mouse">
          <div class="scroller"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="intro">
    <div class="container-fluid">
      
      <div class="content">
        <div class="inner">
          <%= image_tag "intro-header.#{I18n.locale}.png", class: 'header img-responsive' %>

          <p><%= t('home.presentation') %></p>
        </div>
      </div>

    </div>
  </section>

  <section id="oleiva-traditional">
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-6" id="description">
          <div class="inner">
          
            <%= image_tag 'traditional-logo.png', class: 'img-responsive' %>

            <p><%= @traditional.short_description %></p>

            <%= link_to t('buttons.more'), category_path(@traditional), class: "btn btn-default" %>

          </div>
        </div>

        <div class="col-md-6 hidden-xs" id="product">
          <%= image_tag 'categories/oleiva-traditional-product.png', class: 'img-responsive' %>
        </div>
      </div>

    </div>
  </section>

  <section id="oleiva-premium">
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-6" id="description">
          <div class="inner">

            <%= image_tag 'premium-logo.png', class: 'img-responsive' %>

            <p><%= @premium.short_description %></p>

            <%= link_to t('buttons.more'), category_path(@premium), class: "btn btn-default" %>

          </div>
        </div>

        <div class="col-md-6 hidden-xs" id="product">
          <%= image_tag 'categories/oleiva-premium-product.png', class: 'img-responsive' %>
        </div>
      </div>

    </div>
  </section>
</div>

<script>
  $(".main").onepage_scroll({
    loop: false, 
    beforeMove: function(index) {
      if (index == 1) {
        $('.navbar').fadeOut();
      }
      else {
        $('.navbar').fadeIn();
      }
    }
  });
</script>

<style>
  
  body, html {
    margin: 0;
    overflow: hidden;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
  }

  body, .onepage-wrapper, html {
    display: block;
    position: static;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .onepage-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding: 0;
    -webkit-transform-style: preserve-3d;
  }

  .onepage-wrapper .section {
    width: 100%;
    height: 100%;
  }

  .onepage-pagination {
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .onepage-pagination li {
    padding: 0;
    text-align: center;
  }
  .onepage-pagination li a{
    padding: 10px;
    width: 4px;
    height: 4px;
    display: block;
    
  }
  .onepage-pagination li a:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: rgba(0,0,0,0.85);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }

  .onepage-pagination li a.active:before{
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid black;
    margin-top: -4px;
    left: 8px;
  }

  .disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
    overflow: auto;
  }

  .disabled-onepage-scroll .onepage-wrapper .section {
    position: relative !important;
    top: auto !important;
    left: auto !important;
  }
  .disabled-onepage-scroll .onepage-wrapper {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -ms-transform: none !important;
    min-height: 100%;
  }


  .disabled-onepage-scroll .onepage-pagination {
    display: none;
  }

  body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
    position: inherit;
  }
</style>