<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="mill">
  <div class="header">
    <div class="container-fluid">
      <%= image_tag 'slama-group.jpg', class: "img-responsive" %>
    </div>
  </div>

  <div class="container">
    <div class="items">
      
      <div class="item row no-gutters">
        <div class="col-md-5 col-sm-12">
          <%= image_tag 'reception.png', class: 'img-responsive block' %>
        </div>
        <div class="col-md-7 col-sm-12 description">
          <div class="inner">
            <h2><%= t('portfolio.mill.reception.title') %></h2>
            <p><%= t('portfolio.mill.reception.text') %></p>
          </div>
        </div>
      </div>
      
      <div class="item row no-gutters">
        <div class="col-md-5 col-md-push-7 col-sm-12">
          <%= image_tag 'extraction.png', class: 'img-responsive block' %>
        </div>
        <div class="col-md-7 col-md-pull-5 col-sm-12 description">
          <div class="inner">
            <h2><%= t('portfolio.mill.extraction.title') %></h2>
            <p><%= t('portfolio.mill.extraction.text') %></p>
          </div>
        </div>
      </div>
      
      <div class="item row no-gutters">
        <div class="col-md-5">
          <%= image_tag 'filtration.png', class: 'img-responsive block' %>
        </div>
        <div class="col-md-7 description">
          <div class="inner">
            <h2><%= t('portfolio.mill.filtration.title') %></h2>
            <p><%= t('portfolio.mill.filtration.text') %></p>
          </div>
        </div>
      </div>
      
      <div class="item row no-gutters">
        <div class="col-md-5 col-md-push-7 col-sm-12">
          <%= image_tag 'storage.png', class: 'img-responsive block' %>
        </div>
        <div class="col-md-7 col-md-pull-5 col-sm-12 description">
          <div class="inner">
            <h2><%= t('portfolio.mill.storage.title') %></h2>
            <p><%= t('portfolio.mill.storage.text') %></p>
          </div>
        </div>
      </div>

    </div>
</div>
