<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="quality">

  <nav class="second-nav">
    <div class="container">
      <ul class="list-inline" role="tablist">
        <li role="presentation" class="active"><a href="#international" aria-controls="international" role="tab" data-toggle="tab"><%= t('menu.quality.international') %></a></li>
        <li role="presentation"><a href="#process" aria-controls="process" role="tab" data-toggle="tab"><%= t('menu.quality.process') %></a></li>
        <li role="presentation"><a href="#exportation" aria-controls="exportation" role="tab" data-toggle="tab"><%= t('menu.quality.exportation') %></a></li>
      </ul>
    </div>
  </nav>

  <div class="header">
    <div class="container-fluid">
      <%= image_tag 'quality-header.png', class: "img-responsive" %>
    </div>
  </div>

  <div class="tab-content">

    <!-- international -->
    <div role="tabpanel" class="tab-pane active" id="international">

      <div class="container">
        <div class="items">

          <div class="item row no-gutters how">
            <div class="col-sm-5 description">
              <div class="inner">
                <p>Acidity tests measure the level of free fatty acids in an olive oil. Damage to the fruit before the olives are pressed causes natural enzymes to be released.  These enzymes start to break down the olive oil, releasing free fatty acids, which affect the flavour of the oil and reduce its shelf life.</p>
              </div>
            </div>
            <div class="col-sm-7 title">
              <div class="inner">
                <h2>Acidity</h2>
              </div>
            </div>
          </div>

          <div class="item row no-gutters how">
            <div class="col-sm-7 title">
              <div class="inner">
                <h2>Peroxide Value</h2>
              </div>
            </div>
            <div class="col-sm-5 description">
              <div class="inner">
                <p>The Peroxide Value is an indicator of rancidity.  Deterioration of olive oil causes the release of natural peroxide, which ultimately lead to rancidity.  Rancid oils develop unpleasant flavours and are also harmful to health.</p>
              </div>
            </div>
          </div>

          <div class="item row no-gutters how">
            <div class="col-sm-5 description">
              <div class="inner">
                <p>Taste testing of the oil under controlled conditions by a panel of trained experts is used to identify defects in flavour and aroma, including rancidity.</p>
              </div>
            </div>
            <div class="col-sm-7 title">
              <div class="inner">
                <h2>Organoleptic testing</h2>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- process -->
    <div role="tabpanel" class="tab-pane" id="process">

      <div class="container">
        <div class="items">
      
          <div class="item row no-gutters how">
            <div class="col-sm-7 title">
              <div class="inner">
                <h2><%= t('portfolio.quality.title') %></h2>
              </div>
            </div>
            <div class="col-sm-5 description">
              <div class="inner">
                <p><%= t('portfolio.quality.text') %></p>
              </div>
            </div>
          </div>

          <div class="item row no-gutters how">
            <div class="col-sm-5 description">
              <div class="inner">
                <p>
                  <%= t('quality.stockage.text') %> <br>
                  <%= t('quality.stockage.one') %> <br>
                  <%= t('quality.stockage.two') %> <br>
                  <%= t('quality.stockage.three') %>
                </p>
              </div>
            </div>
            <div class="col-sm-7 title">
              <div class="inner">
                <h2><%= t('quality.stockage.title') %></h2>
              </div>
            </div>
          </div>

          <div class="item row no-gutters how">
            <div class="col-sm-7 title">
              <div class="inner">
                <h2><%= t('quality.trituration.title') %></h2>
              </div>
            </div>
            <div class="col-sm-5 description">
              <div class="inner">
                <p><%= t('quality.trituration.text') %></p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- exportation -->
    <div role="tabpanel" class="tab-pane" id="exportation">

      <div class="container">
        <div class="items">

          <div class="item row no-gutters how">
            <div class="col-sm-7 title">
              <div class="inner">
                <h2><%= t('quality.exportation.ofitec.title') %></h2>
              </div>
            </div>
            <div class="col-sm-5 description">
              <div class="inner">
                <p><%= t('quality.exportation.ofitec.text') %></p>
              </div>
            </div>
          </div>

          <div class="item row no-gutters how">
            <div class="col-sm-5 description">
              <div class="inner">
                <p><%= t('quality.exportation.certificate.text') %></p>
              </div>
            </div>
            <div class="col-sm-7 title">
              <div class="inner">
                <h2><%= t('quality.exportation.certificate.title') %></h2>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>