<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="varieties">
  <div class="header">
    <div class="container-fluid">
      <%= image_tag 'variety-header.jpg', class: "img-responsive" %>
    </div>
  </div>

  <div class="container">
    <div class="items">
      
      <div class="item row no-gutters">
        <div class="col-md-7 col-xs-12">
          <%= image_tag 'chemali.png', class: 'img-responsive block' %>
        </div>
        <div class="col-md-5 col-xs-12 description">
          <div class="inner">
            <h2>Chemlali</h2>
            <p><%= t('portfolio.varieties.chemlali') %></p>
          </div>
        </div>
      </div>

      <div class="item row no-gutters">
        <div class="col-md-7 col-md-push-5 col-xs-12">
          <%= image_tag 'chitoui.png', class: 'img-responsive block' %>
        </div>
        <div class="col-md-5 col-md-pull-7 col-xs-12 description">
          <div class="inner">
            <h2><%= t('portfolio.varieties.chetwi.title') %></h2>
            <p><%= t('portfolio.varieties.chetwi.text') %></p>
          </div>
        </div>
      </div>

      <div class="item row no-gutters">
        <div class="col-md-7 col-xs-12">
          <%= image_tag 'weslati.png', class: 'img-responsive block' %>
        </div>
        <div class="col-md-5 col-xs-12 description">
          <div class="inner">
            <h2><%= t('portfolio.varieties.weslati.title') %></h2>
            <p><%= t('portfolio.varieties.weslati.text') %></p>
          </div>
        </div>
      </div>

      <div class="item row no-gutters">
        <div class="col-md-7 col-md-push-5 col-xs-12">
          <%= image_tag 'arbequina.png', class: 'img-responsive block' %>
        </div>
        <div class="col-md-5 col-md-pull-7 col-xs-12 description">
          <div class="inner">
            <h2>Arbequina</h2>
            <p><%= t('portfolio.varieties.arbequina') %></p>
          </div>
        </div>
      </div>

      <div class="item row no-gutters">
        <div class="col-md-7 col-xs-12">
          <%= image_tag 'koroneiki.png', class: 'img-responsive block' %>
        </div>
        <div class="col-md-5 col-xs-12 description">
          <div class="inner">
            <h2>Koroneiki</h2>
            <p><%= t('portfolio.varieties.koroneiki') %></p>
          </div>
        </div>
      </div>

    </div>
</div>