<%= bootstrap_form_for([:dashboard, @post], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", :html => { :multipart => true }) do |f| %>

  <%= f.alert_message "Please fix the errors below." %>

  <%= f.text_field :name %>
  <%= f.text_area :body, :class => "tinymce", :rows => 10, :cols => 20 %>
  <%= f.text_area :source, :rows => 2, :cols => 20 %>
  <%= f.file_field :picture %>
  <%= f.form_group do %>
    <%= f.check_box :published %>
  <% end %>

  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>

<% end %>

<%= tinymce %>