<div class="page-header">
  <h1>Listing posts</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Published ?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.published ? "yes" : "no" %></td>
        <td><%= link_to 'Show', dashboard_post_path(post), class: 'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Edit', edit_dashboard_post_path(post), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to 'Destroy', dashboard_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_dashboard_post_path, class: 'btn btn-primary' %>
