<div class="page-header">
  <h1><%= @post.name.titleize %></h1>
  <%= link_to 'Edit', edit_dashboard_post_path(@post), class: 'btn btn-xs btn-success' %>
  <%= link_to 'Back', dashboard_posts_path, class: 'btn btn-xs btn-default' %>
</div>

<p>
  <strong>Body:</strong>
  <%= raw @post.body %>
</p>

<hr>

<p>
  <strong>Source:</strong>
  <%= @post.source %>
</p>

<hr>

<strong>Picture:</strong><br>
<%= image_tag @post.picture.url(:medium), class: 'img-thumbnail img-responsive' %> 
