<%= bootstrap_form_for([:dashboard, @product], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", :html => { :multipart => true }) do |f| %>

  <%= f.alert_message "Please fix the errors below." %>

  <%= f.text_field :name %>
  <%= f.text_area :description, :class => "tinymce", :rows => 10, :cols => 20 %>
  <%= f.collection_select :category_id, Category.all, :id, :name %>
  <%= f.file_field :picture %>
  <%= f.file_field :nutrition_picture %>
  <%= f.file_field :details_picture %>

  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>

<% end %>

<%= tinymce %>
