<div class="page-header">
  <h1>Listing products</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name.titleize %></td>
        <td><%= product.category.name.capitalize %></td>
        <td><%= link_to 'Show', dashboard_product_path(product), class: 'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Edit', edit_dashboard_product_path(product), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to 'Destroy', dashboard_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_dashboard_product_path, class: 'btn btn-primary' %>
