<div class="page-header">
  <h1><%= @product.name.titleize %></h1>
  <%= link_to 'Edit', edit_dashboard_product_path(@product), class: 'btn btn-xs btn-success' %>
  <%= link_to 'Back', dashboard_products_path, class: 'btn btn-xs btn-default' %>
</div>

<p>
  <strong>Category:</strong>
  <%= @product.category.name.capitalize %>
</p>

<hr>

<p>
  <strong>Description:</strong>
  <%= raw @product.description %>
</p>

<hr>

<div class="row">
  <div class="col-sm-4">
    <strong>Logo:</strong><br>
    <%= image_tag @product.picture.url(:medium), class: 'img-thumbnail img-responsive' %>  
  </div>

  <div class="col-sm-4">
    <strong>Portfolio Picture:</strong><br>
    <%= image_tag @product.nutrition_picture.url(:medium), class: 'img-thumbnail img-responsive' %>
  </div>
  
  <div class="col-sm-4">
    <strong>Banner Picture:</strong><br>
    <%= image_tag @product.details_picture.url(:medium), class: 'img-thumbnail img-responsive' %>
  </div>
</div>