<%= bootstrap_form_for([:dashboard, @recipe], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>

  <%= f.alert_message "Please fix the errors below." %>
  
  <%= f.text_field :name %>
  <%= f.text_area :description, :class => "tinymce", :rows => 10, :cols => 20 %>
  <%= f.text_field :cooking_time %>
  <%= f.text_field :preparation_time %>
  <%= f.file_field :picture %>
  <%= f.file_field :banner_picture %>

  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>

<% end %>

<%= tinymce %>