<div class="page-header">
  <h1>Listing recipes</h1>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= link_to 'Show', dashboard_recipe_path(recipe), class: 'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Edit', edit_dashboard_recipe_path(recipe), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to 'Destroy', dashboard_recipes_path(recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Recipe', new_dashboard_recipe_path, class: 'btn btn-primary' %>
