<div class="page-header">
  <h1><%= @recipe.name %></h1>
  <%= link_to 'Edit', edit_dashboard_recipe_path(@recipe), class: 'btn btn-xs btn-success' %>
  <%= link_to 'Back', dashboard_recipes_path, class: 'btn btn-xs btn-default' %>
</div>

<p>
  <strong>Description:</strong>
  <%= raw @recipe.description %>
</p>

<hr>

<div class="row">
  <div class="col-sm-6">
    <strong>Picture:</strong><br>
    <%= image_tag @recipe.picture.url(:medium), class: 'img-thumbnail img-responsive' %>  
  </div>

  <div class="col-sm-6">
    <strong>Banner picture:</strong><br>
    <%= image_tag @recipe.banner_picture.url(:medium), class: 'img-thumbnail img-responsive' %>  
  </div>
</div>