<%= bootstrap_form_for([:dashboard, @video], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>

  <%= f.alert_message "Please fix the errors below." %>
  
  <%= f.text_field :title %>
  <%= f.text_area :description %>
  <%= f.text_field :embed_url %>

  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>

<% end %>
