<div class="page-header">
  <h1>Listing videos</h1>
</div>

<%= link_to 'New Video', new_dashboard_video_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.description %></td>
        <td><%= video.embed_url %></td>
        <td><%= link_to 'Show', dashboard_video_path(video), class: 'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Edit', edit_dashboard_video_path(video), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to 'Destroy', dashboard_video_path(video), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

