<div class="page-header">
  <h1><%= @video.title.titleize %></h1>
  <%= link_to 'Edit', edit_dashboard_video_path(@video), class: 'btn btn-xs btn-success' %>
  <%= link_to 'Back', dashboard_videos_path, class: 'btn btn-xs btn-default' %>
</div>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<hr>

<p>
  <strong>Embed url:</strong>
  <%= @video.embed_url %>
</p>

<div class="embed-responsive embed-responsive-16by9">
  <%= raw YouTubeAddy.youtube_embed_url(@video.embed_url) %>
</div>
