<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>
<%= render partial: "shared/media_navbar" %>

<div id="albums">
  <div class="container">
    <div class="items">

      <% @albums.each_with_index do |album, index| %>
        <div class="item row no-gutters product">

          <div class="col-sm-7 <%= first_block_class(index) %> col-xs-12">
            <%= image_tag Album.featured_image(album).asset.url, class: 'img-responsive' %>
          </div>
          <div class="col-sm-5 description <%= second_block_class(index) %> col-xs-12">
            <div class="inner">
              <h2><%= album.title %></h2>
              <%= link_to t('buttons.browse'), media_album_path(album), class: 'btn btn-default' %>
            </div>
          </div>

        </div>
      <% end %>

    </div>
  </div>
</div>