<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>
<%= render partial: "shared/media_navbar" %>

<div id="album">
  <div class="container">
    <h2><%= @album.title %></h2>

    <div class="row">
    <% @album.photos.each do |photo| %>
      <div class="col-xs-12 col-sm-6">
        <div class="photo">
          <%= image_tag photo.asset.url, class: 'img-responsive photo-asset' %>
          <div class="caption">
            
            <p class="pull-left"><%= photo.description.capitalize %></p>
            
            <ul class="list-inline pull-right">
              <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/home?status=<%= request.original_url %>" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://plus.google.com/share?url=<%= request.original_url %>" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>