<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>
<%= render partial: "shared/media_navbar" %>

<div id="downloads">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="items">

          <% @assets.each do |asset| %>
            <div class="item">
              <h2>
                <%= asset.name.titleize %> <br>
                <small><%= asset.download.content_type.split(/\//).last  %> format</small>
              </h2>

              <%= image_tag asset.download.url(:pdf_thumbnail), class: 'thumbnail img-responsive' %>

              <%= link_to raw('<i class="fa fa-download"></i> Download'), media_download_path(asset), class: 'btn btn-default' %>

            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>