.navbar-lower {
  position: fixed !important;
  top: 70px;
  width: 100%;
  z-index: 1;

  background: #9b7b41 !important;
  border-bottom: none !important;
  min-height: 40px !important;
  height: 40px !important;

  .nav > li > a {
    text-transform: uppercase;
    color: #c3b298 !important;
  }
  .nav > li > a:hover {
    color: #fff !important;
  }
  .nav .active {
    background-color: #7a6133 !important;
    position: relative;
    
    > a, a:hover {
      color: #fff !important;
      line-height: 39px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -8px;
      width: 0;
      height: 0;
      border-top: solid 8px #7a6133;
      border-left: solid 8px transparent;
      border-right: solid 8px transparent;
    }
  }
  .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 40px;
  }

  .navbar-toggle {
    margin-right: 18px !important; 
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    padding: 5px 6px !important;
  }

  .navbar-collapse {
    background-color: #9b7b41 !important;
  }
}