// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* no-gutters Class Rules */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  display: flex;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* Albums
-------------------------------------------------- */
#albums {
  padding-top: 110px;
  padding-bottom: 70px;

  color: #1d1c17;

  text-align: center;

  .header {
    border-top: 2px solid #9b7b41;
    border-bottom: 2px solid #9b7b41;

    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .items {
    margin-top: 50px;

    .item {
      img.block {
        width: 100%;
      }
      
      .description {
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
          width: 80%;
          text-align: center;
          color: #1d1c17;

          h2 {
            font-size: 30px;
            text-transform: uppercase;
            margin-bottom: 50px;
          }

          ul {
            margin-bottom: 30px;

            li {
              font-size: 24px;
              color: #454545;
              margin-right: 10px;

              &:last-child {
                margin-right: 0px;
              }
            }
          }

          p {
            font-size: 14px;
            margin-bottom: 50px;
            line-height: 3;
          }

          .btn {
            text-transform: uppercase;
            color: #96773f;
            border-color: #96773f;
            border-radius: 0;
          }

          img {
            margin: 0 auto;
          }
        }
      }
    }

  }

}

/* Album
-------------------------------------------------- */
#album {
  padding-top: 110px;
  color: #1d1c17;

  .photo {
    position: relative;

    &:hover {
      cursor: pointer;

      .photo-asset {
        opacity: .5;
        transition-delay: 0s;
      }

      .caption {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
      }
    }
    
    .photo-asset {
      margin-bottom: 30px;
      transition: opacity 0.2s linear;
    }

    .caption {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.2s, opacity 0.2s linear;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      font-size: 14px;
      line-height: 25px;

      p , ul {
        margin: 10px;
      }

      ul {
        border-radius: 4px;
        border: 1px solid #fff;

        li {
          padding-left: 10px;
          padding-right: 10px;

          a {
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

/* Media Queries
-------------------------------------------------- */

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
  #albums .row.no-gutters { display: block; margin-bottom: 30px; }
  #albums .description .inner h2 { margin-bottom: 10px !important; }
  #albums .description .inner .btn { margin-bottom: 20px; }
}