// Place all the styles related to the assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Downloads
-------------------------------------------------- */
#downloads {
  padding-top: 110px;
  padding-bottom: 70px;
  color: #1d1c17;

  .items {

    .item {
      h2 {
        small {
          color: #1d1c17;
          text-transform: uppercase;
          font-size: 50%;
        }
      }

      border-bottom: 1px solid #96773f;

      img {
        margin-bottom: 20px;
      }

      .btn {
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #96773f;
        border-color: #96773f;
        border-radius: 0;
      }
    }
  }

  hr {
    border-top: 1px solid #ccc;
  }

}
