// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Mixins
-------------------------------------------------- */
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Vars
-------------------------------------------------- */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xlg-min: 1400px;

/* no-gutters Class Rules */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  display: flex;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

#portfolio {
  padding-top: 70px;
  margin-bottom: 70px;

  .second-nav {
    background-color: #9b7b41;
    position : fixed;
    width : 100%;
    z-index: 1;

    ul {
      margin-bottom: 0;
      margin-left: 0;

      li {
        padding-left: 15px;
        padding-right: 15px;
        line-height: 40px;

        &.active {
          background-color: #7a6133;
          position: relative;

          a {
            color: #fff;
          }

          &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -8px;
            width: 0;
            height: 0;
            border-top: solid 8px #7a6133;
            border-left: solid 8px transparent;
            border-right: solid 8px transparent;
          }
        }

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #c3b298;
        }
      }
    }
  }

  .portfolio-items {
    margin-top: 50px;

    .product {
      .description {
        img {
          margin: 0 auto;
          margin-bottom: 10px;
        }
      }
    }
    
    .description {
      background-color: #f2f2f2;
      display: flex;
      align-items: center;
      justify-content: center;

      .inner {
        width: 80%;
        text-align: center;
        color: #1d1c17;

        h2 {
          font-size: 16px;
          text-transform: uppercase;
          margin-bottom: 50px;
        }

        p {
          font-size: 12px;
          margin-bottom: 10px;
        }

        .btn {
          text-transform: uppercase;
          color: #96773f;
          border-color: #96773f;
          border-radius: 0;
        }
      }
    }
  }
}


#category {
  padding-top: 70px;

  .header {
    border-top: 2px solid #9b7b41;

    .container-fluid {
      padding-right: 0;
      padding-left: 0;

      img {
        width: 100%;
      }
    }
  }

  .content {
    text-align: center;

    h1 {
      color: #1d1c17;
      text-transform: uppercase;
      font-size: 21px;
      margin: 50px auto;
      padding: 8px 0;

      &:before,
      &:after {
        background-color: #9b7b41;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 10%;
      }
  
      &:before {
        right: 20px;
        margin-left: -50%;
      }
      &:after {
        left: 20px;
        margin-right: -50%;
      }
    }

    p {
      color: #454545;
      line-height: 2;
    }

    .certif {
      margin-top: 50px;

      h3 {
        color: #1d1c17;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 20px;
      }
    }

    .prods-link {
      margin: 70px auto;
      display: block;
      position: relative;

      p {
        position: absolute;
        text-align: center;
        top: 35%;
        left: 0;
        width: 100%;

        span {
          border-bottom: 1px solid;
          border-top: 1px solid;
          padding: 10px 0;
          text-transform: uppercase;
          font-size: 24px;
        }
      }

      .caption {
        position: absolute;
        text-align: center;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #000;
        opacity: .5;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 25px;
      }

      &:hover {
        img {
          opacity: .5;
        }
      }
    }
  }
}
/* Isotope Animation
-------------------------------------------------- */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* Media Queries
-------------------------------------------------- */

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
  #portfolio {
    .row.no-gutters { display: block; margin-bottom: 30px; }
  }
  #portfolio .portfolio-items .description .inner h2 { margin-bottom: 10px; }
  #portfolio .portfolio-items .description .inner .btn { margin-bottom: 10px; }
  #portfolio .portfolio-items .description .inner img { margin-top: 10px; max-width: 60%; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  #portfolio {
    .portfolio-items {
      .description {
        .inner {
          img {
            margin-bottom: 20px;
          }
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}

/* Large devices (large desktops, 1400px and up) */
@media (min-width: $screen-xlg-min) {

}