footer {
  background-color: #e9e9e9;
  border-top: 2px solid #9b7b41;
  color: #1d1c17;

  p {
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;

    a {
      color: #9B7B41;
    }
  }

  .social {
    margin-top: 15px;
    margin-bottom: 15px;

    li {
      padding-top: 5px;

      a {
        color: #59574f;
      }
    }
  }
}