@import "//fonts.googleapis.com/css?family=Volkhov:400,700";

/* Typography
-------------------------------------------------- */
$font-family-sans-serif: 'Volkhov', serif;

/* Colors
-------------------------------------------------- */
$gray-base: #454545;

/* Scafolding
-------------------------------------------------- */
$link-color: #bdbab7;

/* Navbar
-------------------------------------------------- */
$navbar-height: 70px;
$navbar-default-bg: #161618;
$navbar-default-link-color: #96773f;
$navbar-default-link-hover-color: #fefefe;
$navbar-default-link-active-color: #fff;
$navbar-default-border: #161618;

/* Buttons
-------------------------------------------------- */
// $btn-default-color: #fff;
// $btn-default-bg: rgba(255, 255, 255, 0);
// $btn-default-border: rgba(255, 255, 255, 0.5);

/* Components
-------------------------------------------------- */
$border-radius-base: 2px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body { padding-top: 0px; }

/* Navbar
-------------------------------------------------- */
.navbar-default {
  margin-bottom: 0px;
}
.navbar-default .navbar-nav {
  > li > a {
    font-size: 15px;
    text-transform: uppercase;
  }
}
.navbar-brand {
  padding: 10px 15px;
}
