// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Mixins
-------------------------------------------------- */
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@-webkit-keyframes scrolls {
    0% {
        top: 10px;
        opacity: 1;
        height: 4px
    }
    95% {
        top: 18px;
        opacity: 0;
        height: 10px
    }
    100% {
        top: 8px;
        opacity: 1;
        height: 4px
    }
}

/* Vars
-------------------------------------------------- */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xlg-min: 1400px;

/* no-gutters Class Rules */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  display: flex;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* Home
-------------------------------------------------- */
#masthead {
  text-align: center;

  .top {
    background-color: #1d1c17;
    padding: 50px;

    .logo {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    .slogan {
      color: #96773f;
      font-size: 23px;
    }

    .btn {
      text-transform: uppercase;
      color: #96773f;
      background-color: transparent;
      border-color: #96773f;
      border-radius: 0;
      margin-right: 0px;
      margin-bottom: 5px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }

  .bottom {
    position: relative;

    .content {
      position: absolute;
      top: 30%;
      width: 100%;

      .logo {
        display: block;
        margin: 0 auto;
        max-width: 25%;
      }

      p {
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 100;
        margin: 0 auto;
        color: #fff;
      }
    }

    .mouse-wrap {
      position: absolute;
      bottom: 150px;
      margin: -16px auto;
      display: block;
      width: 28px;
      left: 0;
      right: 0;

      .mouse {
        width: 28px;
        height: 50px;
        border: 2px solid white;
        border-radius: 14px;

        .scroller {
          width: 0px;
          height: 0px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid white;
          position: relative;
          top: 10px;
          left: 7px;
          -webkit-animation: scrolls 1.3s ease-out infinite;
        }
      }
    }

    video#v-intro {
      min-width: 100%; min-height: 100%;
      width: auto; height: 100%; z-index: -100;
      background: image-url('musthead-bg.jpg') no-repeat;
      -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
    }
  }
}

#intro {
  background: image-url('intro-bg.jpg') no-repeat; 
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  
  .container-fluid {
    height: 100%;

    .content {
      height: 100%;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
              transform-style: preserve-3d;

      .inner {
        @extend %vertical-align;
        top: 60%;
    
        .header {
          display: block;
          margin: 0 auto;
          margin-bottom: 30px;
        }

        p {
          text-align: center;
          text-transform: uppercase;
          font-weight: 100;
          margin: 0 auto;
          color: #fff;
        }
      }
    }
  }
}

#oleiva-traditional {
  .container-fluid {
    height: 100%;
    background: image-url('oleiva-traditional-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

    .row {
      height: 100%;
    }
  }

  #product {
    height: 100%;
    position: relative;

    img {
      max-width: 40%;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  #description {
    height: 100%;
    color: #454545;
    text-align: center;

    .inner {
      @extend %vertical-align;

      img {
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
      }

      p {
        font-size: 14px;
        line-height: 1.5;
        margin: 0 auto;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      .btn-default {
        color: #9b7b41;
        border-color: #9b7b41;
        text-transform: uppercase;
      }
    }
  }
}

#oleiva-premium {
  border-top: 2px solid #9b7b41;

  .container-fluid {
    height: 100%;
    background: image-url('oleiva-premium-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

    .row {
      height: 100%;
    }
  }

  #product {
    height: 100%;
    position: relative;

    img {
      max-width: 40%;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  #description {
    height: 100%;
    color: #454545;
    text-align: center;

    .inner {
      @extend %vertical-align;

      img {
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
      }

      p {
        font-size: 14px;
        line-height: 1.5;
        margin: 0 auto;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      .btn-default {
        color: #9b7b41;
        border-color: #9b7b41;
        text-transform: uppercase;
      }
    }
  }
}

/* About
-------------------------------------------------- */
#about-section {
  padding-top: 70px;
  padding-bottom: 70px;

  .second-nav {
    background-color: #9b7b41;
    position : fixed;
    width : 100%;
    z-index: 1;

    ul {
      margin-bottom: 0;
      margin-left: 0;

      li {
        padding-left: 15px;
        padding-right: 15px;
        line-height: 40px;

        &.active {
          background-color: #7a6133;
          position: relative;

          a {
            color: #fff;
          }

          &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -8px;
            width: 0;
            height: 0;
            border-top: solid 8px #7a6133;
            border-left: solid 8px transparent;
            border-right: solid 8px transparent;
          }
        }

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #c3b298;
        }
      }
    }
  }

  .header {
    border-top: 2px solid #9b7b41;
    border-bottom: 2px solid #9b7b41;

    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .tab-pane {
    .items {
      margin-top: 50px;

      .item {
        img.block {
          width: 100%;
        }
        
        .description {
          background-color: #f2f2f2;
          display: flex;
          align-items: center;
          justify-content: center;

          .inner {
            width: 80%;
            text-align: center;
            color: #1d1c17;

            h2 {
              font-size: 30px;
              text-transform: uppercase;
              margin-bottom: 50px;
            }

            ul {
              margin-bottom: 30px;

              li {
                font-size: 24px;
                color: #454545;
                margin-right: 10px;

                &:last-child {
                  margin-right: 0px;
                }
              }

              &.social {
                margin-top: 30px;
                margin-bottom: 10px;

                li {
                  a {
                    color: #454545;
                  }
                }
              }
            }

            p {
              font-size: 14px;
              // margin-bottom: 50px;
            }

            .btn {
              text-transform: uppercase;
              color: #96773f;
              border-color: #96773f;
              border-radius: 0;
            }

            img {
              margin: 0 auto;
            }
          }
        }
      }

    }

    h1 {
      color: #1d1c17;
      text-align: center;
      text-transform: uppercase;
      font-size: 21px;
      margin: 50px auto;
      padding: 8px 0;

      &:before,
      &:after {
        background-color: #9b7b41;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 10%;
      }
  
      &:before {
        right: 20px;
        margin-left: -50%;
      }
      &:after {
        left: 20px;
        margin-right: -50%;
      }
    }

    h2 {
      color: #1d1c17;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      margin: 30px auto;
    }

    p {
      color: #454545;
      text-align: center;
      line-height: 2;
    }
  }
}


/* Botteling
-------------------------------------------------- */
#botteling {
  padding-top: 70px;
  padding-bottom: 70px;

  color: #1d1c17;

  text-align: center;

  .header {
    border-top: 2px solid #9b7b41;
    border-bottom: 2px solid #9b7b41;

    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .items {
    margin-top: 50px;

    .item {
      img.block {
        width: 100%;
      }
      
      .description {
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
          width: 80%;
          text-align: center;
          color: #1d1c17;

          h2 {
            font-size: 30px;
            text-transform: uppercase;
            margin-bottom: 50px;
          }

          ul {
            margin-bottom: 30px;

            li {
              font-size: 24px;
              color: #454545;
              margin-right: 10px;

              &:last-child {
                margin-right: 0px;
              }
            }
          }

          p {
            font-size: 14px;
            // margin-bottom: 50px;
            line-height: 3;
          }

          .btn {
            text-transform: uppercase;
            color: #96773f;
            border-color: #96773f;
            border-radius: 0;
          }

          img {
            margin: 0 auto;
          }
        }
      }
    }

  }

}

/* Botteling
-------------------------------------------------- */
#groves {
  padding-top: 70px;
  padding-bottom: 70px;

  color: #1d1c17;

  text-align: center;

  .header {
    border-top: 2px solid #9b7b41;
    border-bottom: 2px solid #9b7b41;

    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .items {
    margin-top: 50px;

    .item {
      img.block {
        width: 100%;
      }
      
      .description {
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
          width: 80%;
          text-align: center;
          color: #1d1c17;

          h2 {
            font-size: 30px;
            text-transform: uppercase;
            margin-bottom: 50px;
          }

          ul {
            margin-bottom: 30px;

            li {
              font-size: 24px;
              color: #454545;
              margin-right: 10px;

              &:last-child {
                margin-right: 0px;
              }
            }
          }

          p {
            font-size: 14px;
            margin-bottom: 50px;
            line-height: 3;
          }

          .btn {
            text-transform: uppercase;
            color: #96773f;
            border-color: #96773f;
            border-radius: 0;
          }

          img {
            margin: 0 auto;
          }
        }
      }
    }

  }

}

/* Harvesting
-------------------------------------------------- */
#harvesting {
  padding-top: 70px;
  padding-bottom: 70px;

  color: #1d1c17;

  text-align: center;

  .header {
    border-top: 2px solid #9b7b41;
    border-bottom: 2px solid #9b7b41;

    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .items {
    margin-top: 50px;

    .item {
      img.block {
        width: 100%;
      }
      
      .title {
        background-color: #fdfdfd;
        border: 1px solid #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
          width: 80%;
          text-align: center;
          color: #1d1c17;

          h2 {
            margin-top: 0px;
          }
        }
      }

      .description {
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
          width: 80%;
          text-align: center;
          color: #1d1c17;

          h2 {
            font-size: 30px;
            text-transform: uppercase;
            margin-bottom: 50px;
          }

          ul {
            margin-bottom: 30px;

            li {
              font-size: 24px;
              color: #454545;
              margin-right: 10px;

              &:last-child {
                margin-right: 0px;
              }
            }
          }

          p {
            font-size: 14px;
            margin-bottom: 50px;
            margin-top: 50px;
            line-height: 3;
          }

          .btn {
            text-transform: uppercase;
            color: #96773f;
            border-color: #96773f;
            border-radius: 0;
          }

          img {
            margin: 0 auto;
          }
        }
      }
    }

  }
}


/* Varieties
-------------------------------------------------- */
#varieties {
  padding-top: 70px;

  color: #1d1c17;

  text-align: center;

  .header {
    border-top: 2px solid #9b7b41;
    border-bottom: 2px solid #9b7b41;

    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .items {
    margin-top: 50px;
    margin-bottom: 70px;

    .item {
      img.block {
        width: 100%;
      }
      
      .description {
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
          width: 80%;
          text-align: center;
          color: #1d1c17;

          h2 {
            font-size: 30px;
            text-transform: uppercase;
            margin-bottom: 20px;
          }

          p {
            font-size: 14px;
            margin-bottom: 50px;
            line-height: 2;
          }
        }
      }
    }

  }
}

/* Mill
-------------------------------------------------- */
#mill {
  padding-top: 70px;

  color: #1d1c17;

  text-align: center;

  .header {
    border-top: 2px solid #9b7b41;
    border-bottom: 2px solid #9b7b41;

    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .items {
    margin-top: 50px;
    margin-bottom: 70px;

    .item {
      img.block {
        width: 100%;
      }
      
      .description {
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
          width: 80%;
          text-align: center;
          color: #1d1c17;

          h2 {
            font-size: 30px;
            text-transform: uppercase;
            margin-bottom: 20px;
          }

          p {
            font-size: 14px;
            margin-bottom: 50px;
            line-height: 2;
          }
        }
      }
    }

  }
}

/* Quality
-------------------------------------------------- */
#quality {
  padding-top: 70px;
  padding-bottom: 70px;

  color: #1d1c17;

  .second-nav {
    background-color: #9b7b41;
    position : fixed;
    width : 100%;
    z-index: 1;

    ul {
      margin-bottom: 0;
      margin-left: 0;

      li {
        padding-left: 15px;
        padding-right: 15px;
        line-height: 40px;

        &.active {
          background-color: #7a6133;
          position: relative;

          a {
            color: #fff;
          }

          &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -8px;
            width: 0;
            height: 0;
            border-top: solid 8px #7a6133;
            border-left: solid 8px transparent;
            border-right: solid 8px transparent;
          }
        }

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #c3b298;
        }
      }
    }
  }

  .header {
    border-top: 2px solid #9b7b41;
    border-bottom: 2px solid #9b7b41;

    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .items {
    margin-top: 50px;
    text-align: center;

    .item {
      img.block {
        width: 100%;
      }
      
      .title {
        background-color: #fdfdfd;
        border: 1px solid #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
          width: 80%;
          text-align: center;
          color: #1d1c17;

          h2 {
            margin-top: 0px;
          }
        }
      }

      .description {
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
          width: 80%;
          text-align: center;
          color: #1d1c17;

          h2 {
            font-size: 30px;
            text-transform: uppercase;
            margin-bottom: 50px;
          }

          ul {
            margin-bottom: 30px;

            li {
              font-size: 24px;
              color: #454545;
              margin-right: 10px;

              &:last-child {
                margin-right: 0px;
              }
            }
          }

          p {
            font-size: 14px;
            margin-bottom: 50px;
            margin-top: 50px;
            line-height: 3;
          }

          .btn {
            text-transform: uppercase;
            color: #96773f;
            border-color: #96773f;
            border-radius: 0;
          }

          img {
            margin: 0 auto;
          }
        }
      }
    }

  }
}

/* Contact
-------------------------------------------------- */
#contact {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;

  .map {
    height: 404px;
    border-top: 2px solid #9b7b41;
    border-bottom: 2px solid #9b7b41;
  }

  h2 {
    font-size: 28px;
    color: #454545;
    margin-top: 80px;
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
    color: #454545;
    line-height: 2;
    margin-bottom: 30px;
  }
}

/* Media Queries
-------------------------------------------------- */

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
  footer p { font-size: 10px; }
  footer .social { text-align: center; float: none !important; }
  .navbar-default .navbar-nav > li > a { font-size: 14px; }
  #intro .container-fluid .content .inner .header { width: 70%; }
  #intro .container-fluid .content .inner p { width: 100%  !important; }
  #oleiva-premium #description .inner { top: 55%; }
  #oleiva-traditional #description .inner { top: 55%; }
  #oleiva-premium #description .inner img { max-width: 60%; margin-bottom: 10px; }
  #oleiva-traditional #description .inner img { max-width: 60%; margin-bottom: 10px; }
  #category .content .prods-link p { top: 17%; }
  #category .content .prods-link p span { font-size: 10px; }
  #varieties {
    .row.no-gutters { display: block; margin-bottom: 30px; }
  }
  #mill {
    .row.no-gutters { display: block; margin-bottom: 30px; } 
    .items .item .description .inner p { margin-bottom: 30px !important; line-height: 1.5; } 
  }
  #about {
    .items .item .col-md-5 { display: none !important; }
    .items .item .description .inner p { line-height: 2 !important; }
  }
  #about-section .second-nav ul li { padding-left: 10px !important; padding-right: 10px !important; font-size: 80% !important; }
  #group {
    .items .item .col-md-5 { display: none !important; }
  }
  #team {
    .row.no-gutters { display: block; margin-bottom: 30px; } 
    .description .inner { width: 100% !important; }
    .description .inner h2 { margin-bottom: 10px !important; }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  #masthead .top .btn {
    margin-right: 15px;
    margin-bottom: 0px;
  }
  #intro .container-fluid .content .inner p { width: 30%; }
  #oleiva-traditional #description .inner p { width: 450px; margin-bottom: 30px; line-height: 2; }
  #oleiva-premium #description .inner p { width: 450px; margin-bottom: 30px; line-height: 2; }
}

/* Medium devices (desktops, up to 1024px) */
@media (max-width: 1024px) {
  #intro .container-fluid .content .inner p { width: 50%; }
  .main #product > img {
    max-width: 50% !important;
    // margin: 90px auto 0 !important;
    // position: static !important;
  }
  #botteling {
    .items .item .description .inner h2 { font-size: 21px; margin-bottom: 20px; }
    .items .item .description .inner h3 { font-size: 18px; margin-top: 10px; margin-bottom: 5px; }
    .items .item .description .inner img { max-width: 60%; }
    .items .item .description .inner ul { margin-bottom: 10px; }
    .items .item .description .inner ul li { font-size: 18px; }
    .items .item .description .inner p { line-height: 2; }
  }
  #groves {
    .items .item .description .inner h2 { font-size: 21px; margin-bottom: 20px; }
    .items .item .description .inner h3 { font-size: 18px; margin-top: 10px; margin-bottom: 5px; }
    .items .item .description .inner p { line-height: 2; margin-bottom: 10px; }
  }
  #varieties {
    .items .item .description .inner p { margin-bottom: 10px; line-height: 1.5; }
  }
  #mill {
    .items .item .description .inner p { margin-bottom: 10px; line-height: 1.5; } 
  }
  #about {
    .items .item .description .inner h2 { margin-bottom: 20px !important; }
    .items .item .description .inner p { line-height: initial; }
  }
  #about-section .tab-pane .items .item .description .inner h2 { margin-bottom: 10px; font-size: 24px; }
  #about-section .tab-pane .items .item .description .inner h3 { font-size: 18px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}

/* Large devices (large desktops, 1400px and up) */
@media (min-width: $screen-xlg-min) {
  
  #home_slider {
    .carousel {
      .carousel-inner {
        .item {
          .carousel-caption {
            top: 30%;
            left: 28%;
            right: 27%;
          }
        }
      }

      .carousel-indicators {
        bottom: 20%;
      }
    }
  }

}
