// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blog {
  padding-top: 70px;

  .posts {
    margin-top: 50px;
    color: #454545;

    .post-item {
      padding-bottom: 50px;
      border-bottom: 1px solid #454545;

      &:last-child {
        border-bottom: none;
      }

      h2 {
        color: #454545;
        font-size: 40px;
        margin-bottom: 20px;

        a {
          color: #454545;

          &:hover {
            text-decoration: none;
          }      
        }

        small {
          line-height: 1.5;
          font-size: 30%;
          margin-top: 10px;

          .date {
            color: #454545;
          }
        }
      }

      .thumbnail {
        border: none;
      }

      p {
        font-size: 16px;
        color: #767676;
      }

      .source {
        color: #333;
        font-size: 14px;
      }

      .sharer {
        text-align: center;
        margin-top: 50px;
      }
    }

    .btn {
      text-transform: uppercase;
      color: #96773f;
      border-color: #96773f;
      border-radius: 0;
    }
  }
}