// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Mixins
-------------------------------------------------- */
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Vars
-------------------------------------------------- */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xlg-min: 1400px;

#products {
  padding-top: 70px;

  .all {
    text-align: center;
    border-bottom: 2px solid #9b7b41;
    margin-bottom: 30px;
    background: rgb(221,219,219);
    background: -moz-linear-gradient(top,  rgba(221,219,219,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,219,219,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(221,219,219,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(221,219,219,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(221,219,219,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(221,219,219,1) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddbdb', endColorstr='#ffffff',GradientType=0 );


    .container {
      height: 100%;

      .holder {
        @extend %vertical-align;

        a {
          img {
              -webkit-transition: all .5s ease;
                 -moz-transition: all .5s ease;
                  -ms-transition: all .5s ease;
                   -o-transition: all .5s ease;
                      transition: all .5s ease;
          }

          &:hover img {
              -webkit-transform:scale(1.1);
                 -moz-transform:scale(1.1);
                  -ms-transform:scale(1.1);
                   -o-transform:scale(1.1);
                      transform:scale(1.1);
          }
          img:last-child {
            // margin-left: 30px;
          }
        }

      }
    }

  }

  .product-item {
    border-bottom: 2px solid #9b7b41;

    &:last-child {
      border-bottom: none;
    }

    .container {
      height: 100%;
      padding-bottom: 50px;
    }

    .row  {
      display: table;
      height: 100%;
    }

    .picture {
      float: none;
      display: table-cell;
      vertical-align: bottom;

      img {
        max-width: 50%;
        margin: 0 auto;
      }
      
      h2 {
        font-size: 23px;
        text-transform: uppercase;
        color: #1d1c17;
        text-align: center;
        border-top: 2px solid #9b7b41;
        padding-top: 10px;
      }

      h3 {
        text-align: center;
        color: #626262;
        font-size: 18px;
        margin-top: 10px;
      }

      .stars {
        text-align: center;
        color: #e9ce87;

        .fa:nth-child(2),
        .fa:nth-child(4) {
          color: #ddba71;
        }

        .fa:nth-child(3) {
          color: #cca054;
        }
      }
    }

    .left {
      text-align: center;
      float: none;
      display: table-cell;
      vertical-align: bottom;

      img {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    .description {
      text-align: center;
      float: none;
      display: table-cell;
      vertical-align: bottom;

      h2 {
        text-transform: uppercase;
        font-size: 22px;
        color: #1b1b1b;
        margin-bottom: 50px;
      }

      p {
        color: #454545;
        line-height: 2;
      }

      img {
        margin-top: 20px;
      }
    }

    .nutrition {
      text-align: center;
      float: none;
      display: table-cell;
      vertical-align: bottom;

      img {
        margin: 20px auto 0;
      }
    }

  }
}


/* Media Queries
-------------------------------------------------- */

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
  .product-item {
    .nutrition > img,
    .description > .block {
      margin: 20px auto 95px !important;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}

/* Large devices (large desktops, 1400px and up) */
@media (min-width: $screen-xlg-min) {

}