// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Mixins
-------------------------------------------------- */
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Vars
-------------------------------------------------- */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xlg-min: 1400px;

#recipes {
  padding-top: 70px;

  .header {
    border-top: 2px solid #9b7b41;
    border-bottom: 2px solid #9b7b41;

    .container-fluid {
      padding-right: 0;
      padding-left: 0;

      img {
        width: 100%;
      }
    }
  }

  h1 {
    text-align: center;
    color: #1d1c17;
    text-transform: uppercase;
    font-size: 21px;
    margin: 50px auto;
    padding: 8px 0;

    &:before,
    &:after {
      background-color: #9b7b41;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 10%;
    }

    &:before {
      right: 20px;
      margin-left: -50%;
    }
    &:after {
      left: 20px;
      margin-right: -50%;
    }
  }

  .thumb-link {
    display: block;
    position: relative;
    color: #1d1c17;
    border: 1px solid #eee;
    margin-bottom: 30px;

    &:after {
      content: '\A';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0; 
      left: 0;
      background: rgba(255, 255, 255, 0.4);
      opacity: 0;
      -webkit-transition: all 0.3s;
         -moz-transition: all 0.3s;
           -o-transition: all 0.3s;
              transition: all 0.3s;
    }

    p {
      z-index: 1;
      position: absolute;
      text-align: center;
      top: 40%;
      left: 0;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: visibility 0s linear 0.3s,
                          opacity 0.3s linear;      
         -moz-transition: visibility 0s linear 0.3s,
                          opacity 0.3s linear;
           -o-transition: visibility 0s linear 0.3s,
                          opacity 0.3s linear;
              transition: visibility 0s linear 0.3s,
                          opacity 0.3s linear;

      span {
        border-bottom: 1px solid;
        border-top: 1px solid;
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 24px;
      }
    }
    
    .caption {
      position: absolute;
      text-align: center;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #000;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 25px;
    }

    &:hover {
      color: #1d1c17;

      p {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
      }

      &:after {
        opacity: 1;
      }
    }
  }

}

#recipe {
  padding-top: 70px;
  padding-bottom: 70px;

  .header {
    border-top: 2px solid #9b7b41;
    border-bottom: 2px solid #9b7b41;

    .container-fluid {
      padding-right: 0;
      padding-left: 0;

      img {
        width: 100%;
      }
    }
  }

  .menu-group {
    width: 100%;
    margin-bottom: 5px;

    &:first-child {
      margin-top: 50px;
    }

    a {
      position: relative;
      display: inline-block;
      width: 48%;
      
      .caption {
        position: absolute;
        text-align: center;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #000;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 25px;
      }
      
      &:after {
        content: '\A';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; 
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 1;
        -webkit-transition: all 0.3s;
           -moz-transition: all 0.3s;
             -o-transition: all 0.3s;
                transition: all 0.3s;
      }

      &:hover,
      &.active {
        &:after {
          opacity: 0;
        }
      }

      &:last-child {
        float: right;
      }
    }
  }

  .description {
    h1 {
      text-align: center;
      color: #1d1c17;
      text-transform: uppercase;
      font-size: 21px;
      margin: 50px auto;
      padding: 8px 0;

      &:before,
      &:after {
        background-color: #9b7b41;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 10%;
      }

      &:before {
        right: 20px;
        margin-left: -50%;
      }
      &:after {
        left: 20px;
        margin-right: -50%;
      }
    }

    p {
      color: #454545;
      line-height: 2;
      text-align: center;
    }

    .controls {
      text-align: center;
      margin-top: 50px;

      .btn {
        text-transform: uppercase;
        width: 150px;
        background-color: transparent;
        border-color: #96773f;
        border-radius: 0;
        font-size: 12px;

        &:first-child {
          // margin-right: 50px;
        }
      }
    }
  }

  .timing {
    border: 1px solid #9b7b41;
    border-bottom: 2px solid #9b7b41;
    margin-top: 50px;
    margin-bottom: 20px;

    .preparation,
    .cooking {
      width: 48%;
      display: inline-block;
      text-align: center;
      margin-top: 10px;
      color: #1d1c17;

      span {
        margin-top: 40px;
        margin-bottom: 20px;
        display: block;
        text-transform: uppercase;

        &:last-child {
          font-size: 10px;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }

      .fa {
        display: block;
      }
    }

    .preparation {
      background: image-url('prep.png') no-repeat;
      background-position: top center;
    }

    .cooking {
      background: image-url('cook.png') no-repeat;
      background-position: top center;
    }
  }

  .kitchen {
    display: block;
    margin: 0 auto;
  }

}

/* Media Queries
-------------------------------------------------- */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}

/* Large devices (large desktops, 1400px and up) */
@media (min-width: $screen-xlg-min) {

}