// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Videos
-------------------------------------------------- */
#videos {
  padding-top: 130px;
  padding-bottom: 70px;

  color: #1d1c17;

  h2 {
    font-size: 25px;
    text-transform: uppercase;
  }

  .sharer {
    text-align: center;
    margin-top: 20px;
  
    .btn {
      text-transform: uppercase;
      color: #96773f;
      border-color: #96773f;
      border-radius: 0;
    }
  }

  hr {
    border-top: 1px solid #ccc;
  }
}