<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="portfolio">

  <nav class="second-nav hidden-xs">
    <div class="container">
      <ul class="list-inline" role="tablist" id="filters">
        <li role="presentation" class="active"><a data-filter="*" href="#" data-toggle="tab"><%= t('menu.portfolio.all') %></a></li>
        <li role="presentation"><a data-filter=".product" href="#" data-toggle="tab"><%= t('menu.portfolio.products') %></a></li>
        <li role="presentation"><a data-filter=".how" href="#" data-toggle="tab"><%= t('menu.portfolio.know_how') %></a></li>
        <li role="presentation"><a data-filter=".uses" href="#" data-toggle="tab"><%= t('menu.portfolio.uses') %></a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="portfolio-items">

      <!-- Products -->
      <% @categories.each_with_index do |category, index| %>
        <div class="item row no-gutters product">

          <div class="col-sm-7 <%= first_block_class(index) %> col-xs-12">
            <%= image_tag category.portfolio_picture.url, class: 'img-responsive' %>
          </div>
          <div class="col-sm-5 description <%= second_block_class(index) %> col-xs-12">
            <div class="inner">
              <%= image_tag category.logo.url(:medium), class: 'img-responsive' %>
              <p><%= category.short_description %></p>
              <%= link_to t('buttons.more'), category_path(category), class: 'btn btn-default' %>
            </div>
          </div>

        </div>
      <% end %>

      <!-- bottling -->
      <div class="item row no-gutters how">
        <div class="col-sm-7 col-xs-12">
          <%= image_tag 'portfolio/bottling.jpg', class: 'img-responsive' %>
        </div>
        <div class="col-sm-5 description col-xs-12">
          <div class="inner">
            <h2><%= t('portfolio.bottling.title') %></h3>
            <p><%= t('portfolio.bottling.short') %></p>
            <%= link_to t('buttons.more'), pages_bottling_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>

      <!-- groves -->
      <div class="item row no-gutters how">
        <div class="col-sm-7 col-sm-push-5 col-xs-12">
          <%= image_tag 'portfolio/groves.png', class: 'img-responsive' %>
        </div>
        <div class="col-sm-5 col-sm-pull-7 description col-xs-12">
          <div class="inner">
            <h2><%= t('portfolio.groves.title') %></h2>
            <p><%= t('portfolio.groves.text') %></p>
            <%= link_to t('buttons.more'), pages_groves_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>

      <!-- varieties -->
      <div class="item row no-gutters how">
        <div class="col-sm-7 col-xs-12">
          <%= image_tag 'portfolio/varieties.jpg', class: 'img-responsive' %>
        </div>
        <div class="col-sm-5 description col-xs-12">
          <div class="inner">
            <h2><%= t('portfolio.varieties.title') %></h2>
            <p><%= t('portfolio.varieties.short')%></p>
            <%= link_to t('buttons.more'), pages_varieties_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>

      <!-- harvesting -->
      <div class="item row no-gutters how">
        <div class="col-sm-7 col-sm-push-5 col-xs-12">
          <%= image_tag 'portfolio/harvesting.png', class: 'img-responsive' %>
        </div>
        <div class="col-sm-5 col-sm-pull-7 description col-xs-12">
          <div class="inner">
            <h2><%= t('harvesting.title') %></h2>
            <p><%= t('portfolio.harvesting.short') %></p>
            <%= link_to t('buttons.more'), pages_harvesting_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>

      <!-- mill -->
      <div class="item row no-gutters how">
        <div class="col-sm-7 col-xs-12">
          <%= image_tag 'portfolio/mill.png', class: 'img-responsive' %>
        </div>
        <div class="col-sm-5 description col-xs-12">
          <div class="inner">
            <h2><%= t('mill.title') %></h2>
            <p><%= t('portfolio.mill.short') %></p>
            <%= link_to t('buttons.more'), pages_mill_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>

      <!-- quality -->
      <div class="item row no-gutters how">
        <div class="col-sm-7 col-sm-push-5 col-xs-12">
          <%= image_tag 'portfolio/quality.png', class: 'img-responsive' %>
        </div>
        <div class="col-sm-5 col-sm-pull-7 description col-xs-12">
          <div class="inner">
            <h2><%= t('quality.title') %></h2>
            <p><%= t('portfolio.quality.short') %></p>
            <%= link_to t('buttons.more'), pages_quality_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
      
      <!-- recipes -->
      <div class="item row no-gutters uses">
        <div class="col-sm-7 col-xs-12">
          <%= image_tag 'portfolio/recipes.png', class: 'img-responsive' %>
        </div>
        <div class="col-sm-5 description col-xs-12">
          <div class="inner">
            <h2>Mediterranean recipes</h2>
            <p><%= t('portfolio.recipes.short') %></p>
            <%= link_to t('buttons.more'), recipes_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>

      <% if false %>

      <!-- uses -->
      <div class="item row no-gutters uses">
        <div class="col-sm-5 description col-xs-12">
          <div class="inner">
            <h2>Other uses</h2>
            <p>Pendant des années, l’huile d’olive tunisienne, par sa production abondante et sa qualité supérieure, a été exportée dans le </p>
            <%= link_to t('buttons.more'), uses_path, class: 'btn btn-default' %>
          </div>
        </div>
        <div class="col-sm-7 col-xs-12">
          <%= image_tag 'portfolio/uses.png', class: 'img-responsive' %>
        </div>
      </div>

      <% end %>

    </div>
  </div>

</div>

<script>
  var $container = $('.portfolio-items').imagesLoaded( function() {
    $container.isotope({
      itemSelector: '.item'
    });
  });
  
  // filter items on button click
  $('#filters').on( 'click', 'li > a', function() {
    var filterValue = $(this).attr('data-filter');
    $container.isotope({ filter: filterValue });
  });
</script>