<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="category">
  <div class="header">
    <div class="container-fluid">
      <%= image_tag @category.banner_picture.url, class: "img-responsive" %>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <h1><%= @category.name %></h1>
      <p><%= raw(@category.long_description) %></p>

      <div class="certif">
        <%= image_tag 'kosher.png' %>
      </div>
      
      <%= link_to products_path(category_id: @category.id), class: 'prods-link' do %>
        
        <%= image_tag @category.products_picture.url, class: "img-responsive" %>
        
        <p>
          <span>More details</span>
        </p>

        <div class="caption">
          <span><%= @category.name %> products</span>
        </div>

      <% end %>
    </div>
  </div>
</div>
