<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <%= render partial: "shared/navbar" %>
</div>

<div id="products">
  <div class="all">
    <div class="container">
      <div class="holder">
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-xs-4 hidden-xs">
              <%= link_to "#product-#{product.id}" do %>
                <%= image_tag product.picture.url, class: 'img-responsive' %>
              <% end %>
            </div>
            <div class="col-xs-4 visible-xs-block">
              <%= link_to "#product-xs-#{product.id}" do %>
                <%= image_tag product.picture.url, class: 'img-responsive' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% @products.each do |product| %>
    <div class="product-item visible-xs-block" id="product-xs-<%= product.id %>">
      <div class="container">
        <div class="row">

          <div class="col-xs-6 picture">
            <%= image_tag product.picture.url, class: 'img-responsive' %>
            <div class="meta">
              <h2><%= @category.name %></h2>
              <h3><%= product.name.titleize %></h3>
              <div class="stars">
                <i class="fa fa-star fa-lg"></i>
                <i class="fa fa-star fa-lg"></i>
                <i class="fa fa-star fa-lg"></i>
                <i class="fa fa-star fa-lg"></i>
                <i class="fa fa-star fa-lg"></i>
              </div>
            </div>
          </div>

          <div class="col-xs-6 left">
            <%= image_tag product.details_picture.url, class: 'img-responsive'  %>
            <%= image_tag 'product-certification.png', class: 'img-responsive'  %>
            <%= image_tag product.nutrition_picture.url, class: 'img-responsive', style: 'border: 1px solid;' %>
          </div>


        </div>
      </div>
    </div>
  
    <div class="product-item hidden-xs" id="product-<%= product.id %>">
      <div class="container">
        <div class="row">

          <div class="col-sm-4 description">
            <div class="block">
              <h2><%= product.name %></h2>

              <%= image_tag product.details_picture.url, class: 'img-responsive'  %>

              <%= image_tag 'product-certification.png', class: 'img-responsive'  %>
            </div>
          </div>

          <div class="col-sm-4 picture">
            <%= image_tag product.picture.url, class: 'img-responsive' %>
            <div class="meta">
              <h2><%= @category.name %></h2>
              <h3><%= product.name.titleize %></h3>
              <div class="stars">
                <i class="fa fa-star fa-lg"></i>
                <i class="fa fa-star fa-lg"></i>
                <i class="fa fa-star fa-lg"></i>
                <i class="fa fa-star fa-lg"></i>
                <i class="fa fa-star fa-lg"></i>
              </div>
            </div>
          </div>

          <div class="col-sm-4 nutrition">
            <%= image_tag product.nutrition_picture.url, class: 'img-responsive', style: 'border: 1px solid;' %>
          </div>

        </div>
      </div>
    </div>
  <% end %>

</div>
