<%= bootstrap_form_for([:dashboard, @use], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>

  <%= f.alert_message "Please fix the errors below." %>
  
  <%= f.text_field :name %>
  <%= f.text_area :description, :class => "tinymce", :rows => 10, :cols => 20 %>
  <%= f.file_field :picture %>

  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>

<% end %>

<%= tinymce %>