<div class="page-header">
  <h1><%= @use.name.titleize %></h1>
  <%= link_to 'Edit', edit_dashboard_use_path(@use), class: 'btn btn-xs btn-success' %>
  <%= link_to 'Back', dashboard_uses_path, class: 'btn btn-xs btn-default' %>
</div>

<p>
  <strong>Description:</strong>
  <%= @use.description %>
</p>

<hr>

<p>
  <strong>Description:</strong>
  <%= raw @use.description %>
</p>

<hr>

<strong>Logo:</strong><br>
<%= image_tag @use.picture.url(:medium), class: 'img-thumbnail img-responsive' %> 