<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag('favicon.png') %>
  <title>MedFlavour</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'icons/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-72x72.png', rel: 'apple-touch-icon', type: 'image/png', size: '72x72' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-120x120.png', rel: 'apple-touch-icon', type: 'image/png', size: '120x120' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-144x144.png', rel: 'apple-touch-icon', type: 'image/png', size: '144x144' %>

</head>
<body>

  <%= yield %>

  <%= render partial: "shared/footer" %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55400900-5', 'auto');
    ga('send', 'pageview');
  </script>

</body>
</html>
