<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MedFlavour</title>
  <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "shared/dashboard_navbar" %>

  <div class="container">
    <div class="row">
      <!-- Sidenav -->
      <div class="col-sm-3">
        <div class="list-group">
          <%= active_link_to 'Categories', dashboard_categories_path, class: 'list-group-item' %>
          <%= active_link_to 'Products', dashboard_products_path, class: 'list-group-item' %>
          <%= active_link_to 'Recipes', dashboard_recipes_path, class: 'list-group-item' %>
          <%= active_link_to 'Uses', dashboard_uses_path, class: 'list-group-item' %>
          <%= active_link_to 'Blog', dashboard_posts_path, class: 'list-group-item' %>
          <%= active_link_to 'Albums', dashboard_albums_path, class: 'list-group-item' %>
          <%= active_link_to 'Videos', dashboard_videos_path, class: 'list-group-item' %>
          <%= active_link_to 'Downloads', dashboard_assets_path, class: 'list-group-item' %>
        </div>
      </div>

      <!-- content -->
      <div class="col-sm-9">
        <%= flash_messages %>
        <%= yield %>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted text-center">© Copyright MEDFLAVOUR 2015 | Powered by <a href="http://appid.tn/fr/">APPID</a></p>
    </div>
  </footer>

</body>
</html>
