<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag('favicon.png') %>
  <title>MedFlavour</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'icons/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-72x72.png', rel: 'apple-touch-icon', type: 'image/png', size: '72x72' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-120x120.png', rel: 'apple-touch-icon', type: 'image/png', size: '120x120' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-144x144.png', rel: 'apple-touch-icon', type: 'image/png', size: '144x144' %>

  <style>
    body {
      padding-top: 100px;
    }
  </style>

</head>
<body>

  <div class="container">
    
    <div class="row">
      <div class="col-sm-6 col-sm-push-3">
        <%= flash_messages %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-sm-push-4">
        <%= yield %>
      </div>
    </div>
    
    <p class="text-center">© Copyright MEDFLAVOUR 2015 | Powered by <a href="http://appid.tn/fr/">APPID</a></p>
  </div>


</body>
</html>
